In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/e-shop clothing 2008.csv',sep=';',delimiter=None)

In [ ]:
df.head()

,year,month,day,order,country,session ID,page 1 (main category),page 2 (clothing model),colour,location,model photography,price,price 2,page
0,2008,4,1,1,29,1,1,A13,1,5,1,28,2,1
1,2008,4,1,2,29,1,1,A16,1,6,1,33,2,1
2,2008,4,1,3,29,1,2,B4,10,2,1,52,1,1
3,2008,4,1,4,29,1,2,B17,6,6,2,38,2,1
4,2008,4,1,5,29,1,2,B8,4,3,2,52,1,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165474 entries, 0 to 165473
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   year                     165474 non-null  int64
 1   month                    165474 non-null  int64
 2   day                      165474 non-null  int64
 3   order                    165474 non-null  int64
 4   country                  165474 non-null  int64
 5   session ID               165474 non-null  int64
 6   page 1 (main category)   165474 non-null  int64
 7   page 2 (clothing model)  165474 non-null  object
 8   colour                   165474 non-null  int64
 9   location                 165474 non-null  int64
 10  model photography        165474 non-null  int64
 11  price                    165474 non-null  int64
 12  price 2                  165474 non-null  int64
 13  page                     165474 non-null  int64
dtypes: int64(13), object(1)
memory usage: 17.7+ MB

In [ ]:
df.keys()

Index(['year', 'month', 'day', 'order', 'country', 'session ID',
       'page 1 (main category)', 'page 2 (clothing model)', 'colour',
       'location', 'model photography', 'price', 'price 2', 'page'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Creating a instance of label Encoder.
le = LabelEncoder()

# Using .fit_transform function to fit label
# encoder and return encoded label
label = le.fit_transform(df['page 2 (clothing model)'])

# printing label
label

array([ 4,  7, 70, ..., 11, 87, 53])

In [ ]:
df.drop("page 2 (clothing model)", axis=1, inplace=True)
df["page 2 (clothing model)"] = label
df

,year,month,day,order,country,session ID,page 1 (main category),colour,location,model photography,price,price 2,page,page 2 (clothing model)
0,2008,4,1,1,29,1,1,1,5,1,28,2,1,4
1,2008,4,1,2,29,1,1,1,6,1,33,2,1,7
2,2008,4,1,3,29,1,2,10,2,1,52,1,1,70
3,2008,4,1,4,29,1,2,6,6,2,38,2,1,51
4,2008,4,1,5,29,1,2,4,3,2,52,1,1,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165469,2008,8,13,1,29,24024,2,2,4,1,67,1,1,44
165470,2008,8,13,1,9,24025,1,3,4,1,62,1,1,2
165471,2008,8,13,1,34,24026,1,3,1,1,43,2,1,11
165472,2008,8,13,2,34,24026,3,12,1,1,43,1,1,87
165473,2008,8,13,3,34,24026,2,3,1,2,57,1,1,53

In [ ]:
df=pd.DataFrame(df['order'],columns=df['country'])

In [ ]:
df.shape

(0, 165474)

In [ ]:
df.describe()

country,29,29,29,29,29,29,29,29,29,29,...,29,29,29,29,29,29,9,34,34,34
count,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df=df.dropna(axis=1)

In [ ]:
df.tail()

Empty DataFrame
Columns: [29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 9, 9, 9, 9, 9, 9, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 9, 9, 9, 9, 9, 9, 9, 9, 9, 29, 29, 29, 16, 16, 16, 16, 16, 9, 29, 29, 29, 29, 29, 29, 29, 38, 38, 38, 9, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, ...]
Index: []

[0 rows x 165474 columns]

In [ ]:
df.isnull().sum()

country
29    0.0
29    0.0
29    0.0
29    0.0
29    0.0
     ...
29    0.0
9     0.0
34    0.0
34    0.0
34    0.0
Length: 165474, dtype: float64

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()
scaler.fit(df)

ValueError: ignored

In [ ]:
scaled_data=scaler.transform(df)

In [ ]:
scaled_data

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca=PCA(n_components=2)

In [ ]:
pca.fit(scaled_data)

In [ ]:
x_pca=pca.transform(scaled_data)

In [ ]:
scaled_data.shape

In [ ]:
x_pca.shape

In [ ]:
scaled_data

In [ ]:
x_pca

In [ ]:
plt.figure(figsize=(8,6))
plt.scatter(x_pca[:,0],x_pca[:,1])
plt.xlabel('First principle component',c=df['page 2 (clothing model)'])
plt.ylabel('Second principle component')