In [45]:
# load all require packages.
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Flatten, Dense
import matplotlib.pyplot as plt
%matplotlib inline

In [46]:
train = pd.read_csv("mnist_train.csv")

In [47]:
train

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
train_images = train.iloc[:,1:]/255
train_images.head()

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
train_label = train.label
train_label

0        5
1        0
2        4
3        1
4        9
        ..
59995    8
59996    3
59997    5
59998    6
59999    8
Name: label, Length: 60000, dtype: int64

In [50]:
train_image = train_images.values.reshape(train_images.shape[0], 28, 28)
train_image = tf.convert_to_tensor(train_image)

In [51]:
train_image

<tf.Tensor: shape=(60000, 28, 28), dtype=float64, numpy=
array([[[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       ...,

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]])>

In [52]:
test = pd.read_csv("mnist_test.csv")

In [53]:
test

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
test_image = test.drop(columns='label')
test_labels= test.label
test_labels

0       7
1       2
2       1
3       0
4       4
       ..
9995    2
9996    3
9997    4
9998    5
9999    6
Name: label, Length: 10000, dtype: int64

In [55]:
test_image.shape

(10000, 784)

In [56]:
test_image = test_image.values.reshape(test_image.shape[0],28,28)

In [57]:
test_image = tf.convert_to_tensor(test_image)

In [58]:
test_image

<tf.Tensor: shape=(10000, 28, 28), dtype=int64, numpy=
array([[[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       ...,

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]]])>

# Multi-Layer

In [63]:
model = Sequential()
model.add(Flatten(input_shape=(28,28)))
model.add(Dense(units=200, activation='relu'))
model.add(Dense(units=100, activation='sigmoid'))  
model.add(Dense(units=50, activation='relu'))
model.add(Dense(units=10, activation='softmax'))

In [64]:
model.compile(
    optimizer=tf.keras.optimizers.Adam(),
    loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True), 
    metrics=['accuracy']
)

In [65]:
model.fit(train_image, train_label, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 11s 5ms/step - loss: 0.2654 - accuracy: 0.9230
Epoch 2/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0961 - accuracy: 0.9707
Epoch 3/10
1875/1875 [==============================] - 9s 5ms/step - loss: 0.0671 - accuracy: 0.9783
Epoch 4/10
1875/1875 [==============================] - 9s 5ms/step - loss: 0.0488 - accuracy: 0.9842
Epoch 5/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0380 - accuracy: 0.9878
Epoch 6/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0326 - accuracy: 0.9893
Epoch 7/10
1875/1875 [==============================] - 9s 5ms/step - loss: 0.0251 - accuracy: 0.9917
Epoch 8/10
1875/1875 [==============================] - 9s 5ms/step - loss: 0.0200 - accuracy: 0.9927
Epoch 9/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0169 - accuracy: 0.9943
Epoch 10/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0173 - accuracy: 0.9943

In [66]:
test_loss, test_acc = model.evaluate(test_image, test_labels)
print('Accuracy of model is: {}%'.format(round(test_acc*100, 2)))

313/313 [==============================] - 1s 2ms/step - loss: 0.0926 - accuracy: 0.9800
Accuracy of model is: 98.0%

# Test case-2

In [67]:
model = Sequential()
model.add(Flatten(input_shape=(28,28)))
model.add(Dense(units=300, activation='relu'))
model.add(Dense(units=150, activation='sigmoid'))  
model.add(Dense(units=50, activation='relu'))
model.add(Dense(units=20, activation='softmax'))

In [68]:
model.compile(
    optimizer=tf.keras.optimizers.Adam(),
    loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True), 
    metrics=['accuracy']
)

In [69]:
model.fit(train_image, train_label, epochs=27)

Epoch 1/27
1875/1875 [==============================] - 13s 6ms/step - loss: 0.2610 - accuracy: 0.9222
Epoch 2/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0894 - accuracy: 0.9724
Epoch 3/27
1875/1875 [==============================] - 13s 7ms/step - loss: 0.0589 - accuracy: 0.9819
Epoch 4/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0434 - accuracy: 0.9861
Epoch 5/27
1875/1875 [==============================] - 13s 7ms/step - loss: 0.0342 - accuracy: 0.9891
Epoch 6/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0270 - accuracy: 0.9912
Epoch 7/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0234 - accuracy: 0.9923
Epoch 8/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0176 - accuracy: 0.9938
Epoch 9/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0167 - accuracy: 0.9947
Epoch 10/27
1875/1875 [==============================] - 12s 7ms/step - loss: 0.0136 - accuracy: 0.9955
Epoch 11/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0135 - accuracy: 0.9954
Epoch 12/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0112 - accuracy: 0.9963
Epoch 13/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0116 - accuracy: 0.9959
Epoch 14/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0099 - accuracy: 0.9963
Epoch 15/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0086 - accuracy: 0.9972
Epoch 16/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0086 - accuracy: 0.9969
Epoch 17/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0071 - accuracy: 0.9974
Epoch 18/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0082 - accuracy: 0.9972
Epoch 19/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0062 - accuracy: 0.9980
Epoch 20/27
1875/1875 [==============================] - 11s 6ms/step - loss: 0.0071 - accuracy: 0.9979
Epoch 21/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0069 - accuracy: 0.9977
Epoch 22/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0053 - accuracy: 0.9982
Epoch 23/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0071 - accuracy: 0.9977
Epoch 24/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0039 - accuracy: 0.9987
Epoch 25/27
1875/1875 [==============================] - 12s 7ms/step - loss: 0.0052 - accuracy: 0.9984
Epoch 26/27
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0051 - accuracy: 0.9985
Epoch 27/27
1875/1875 [==============================] - 12s 7ms/step - loss: 0.0047 - accuracy: 0.9986

In [70]:
test_loss, test_acc = model.evaluate(test_image, test_labels)
print('Accuracy of model is: {}%'.format(round(test_acc*100, 2)))

313/313 [==============================] - 1s 3ms/step - loss: 0.1126 - accuracy: 0.9809
Accuracy of model is: 98.09%

# Test case 3

In [71]:
model = Sequential()
model.add(Flatten(input_shape=(28,28)))
model.add(Dense(units=200, activation='relu'))
model.add(Dense(units=100, activation='leaky_relu'))
model.add(Dense(units=50, activation='tanh'))
model.add(Dense(units=10, activation='softmax'))

model.compile(
    optimizer=tf.keras.optimizers.Adam(),
    loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
    metrics=['accuracy']
)

In [72]:
model.fit(train_image, train_label, epochs=24)

Epoch 1/24

/usr/local/lib/python3.10/dist-packages/keras/backend.py:5612: UserWarning: "`sparse_categorical_crossentropy` received `from_logits=True`, but the `output` argument was produced by a Softmax activation and thus does not represent logits. Was this intended?
  output, from_logits = _get_logits(

1875/1875 [==============================] - 11s 5ms/step - loss: 0.2166 - accuracy: 0.9367
Epoch 2/24
1875/1875 [==============================] - 12s 6ms/step - loss: 0.0936 - accuracy: 0.9714
Epoch 3/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0645 - accuracy: 0.9804
Epoch 4/24
1875/1875 [==============================] - 11s 6ms/step - loss: 0.0513 - accuracy: 0.9835
Epoch 5/24
1875/1875 [==============================] - 9s 5ms/step - loss: 0.0409 - accuracy: 0.9870
Epoch 6/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0317 - accuracy: 0.9900
Epoch 7/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0289 - accuracy: 0.9906
Epoch 8/24
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0242 - accuracy: 0.9921
Epoch 9/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0226 - accuracy: 0.9927
Epoch 10/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0195 - accuracy: 0.9936
Epoch 11/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0177 - accuracy: 0.9942
Epoch 12/24
1875/1875 [==============================] - 9s 5ms/step - loss: 0.0160 - accuracy: 0.9949
Epoch 13/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0162 - accuracy: 0.9947
Epoch 14/24
1875/1875 [==============================] - 11s 6ms/step - loss: 0.0154 - accuracy: 0.9949
Epoch 15/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0115 - accuracy: 0.9963
Epoch 16/24
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0143 - accuracy: 0.9952
Epoch 17/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0123 - accuracy: 0.9961
Epoch 18/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0131 - accuracy: 0.9958
Epoch 19/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0113 - accuracy: 0.9963
Epoch 20/24
1875/1875 [==============================] - 8s 5ms/step - loss: 0.0118 - accuracy: 0.9959
Epoch 21/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0120 - accuracy: 0.9962
Epoch 22/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0085 - accuracy: 0.9975
Epoch 23/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0082 - accuracy: 0.9976
Epoch 24/24
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0094 - accuracy: 0.9969

In [73]:
test_loss, test_acc = model.evaluate(test_image, test_labels)
print('Accuracy of model is: {}%'.format(round(test_acc*100, 2)))

313/313 [==============================] - 1s 2ms/step - loss: 0.1078 - accuracy: 0.9783
Accuracy of model is: 97.83%

# Deep learning (CNN)

In [74]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Flatten, Dense

In [75]:
# Load and preprocess the training data
train = pd.read_csv("mnist_train.csv")

In [76]:
train_images = train.iloc[:, 1:].values.reshape(-1, 28, 28, 1) / 255.0
train_labels = train["label"]

In [77]:
# Load and preprocess the test data
test = pd.read_csv("mnist_test.csv")
test_images = test.iloc[:, 1:].values.reshape(-1, 28, 28, 1) / 255.0
test_labels = test["label"]

In [78]:
# Build the CNN model
model = Sequential()
model.add(Conv2D(32, (3, 3), activation='relu', input_shape=(28, 28, 1)))
model.add(MaxPooling2D((2, 2)))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D((2, 2)))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(Flatten())
model.add(Dense(64, activation='relu'))
model.add(Dense(10, activation='softmax'))

In [79]:

# Compile the model
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [80]:
# Train the model
model.fit(train_images, train_labels, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 66s 34ms/step - loss: 0.1481 - accuracy: 0.9542
Epoch 2/10
1875/1875 [==============================] - 62s 33ms/step - loss: 0.0459 - accuracy: 0.9858
Epoch 3/10
1875/1875 [==============================] - 61s 33ms/step - loss: 0.0326 - accuracy: 0.9905
Epoch 4/10
1875/1875 [==============================] - 61s 33ms/step - loss: 0.0249 - accuracy: 0.9917
Epoch 5/10
1875/1875 [==============================] - 62s 33ms/step - loss: 0.0193 - accuracy: 0.9939
Epoch 6/10
1875/1875 [==============================] - 60s 32ms/step - loss: 0.0173 - accuracy: 0.9944
Epoch 7/10
1875/1875 [==============================] - 60s 32ms/step - loss: 0.0131 - accuracy: 0.9959
Epoch 8/10
1875/1875 [==============================] - 60s 32ms/step - loss: 0.0111 - accuracy: 0.9967
Epoch 9/10
1875/1875 [==============================] - 60s 32ms/step - loss: 0.0109 - accuracy: 0.9962
Epoch 10/10
1875/1875 [==============================] - 60s 32ms/step - loss: 0.0097 - accuracy: 0.9969

In [81]:
# Evaluate the model on the test data
test_loss, test_acc = model.evaluate(test_images, test_labels)
print('Accuracy of model is: {}%'.format(round(test_acc*100, 2)))

313/313 [==============================] - 3s 9ms/step - loss: 0.0288 - accuracy: 0.9925
Accuracy of model is: 99.25%

# Case-2

In [82]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Flatten, Dense, Dropout

# Load and preprocess the training data
train = pd.read_csv("mnist_train.csv")
train_images = train.iloc[:, 1:].values.reshape(-1, 28, 28, 1) / 255.0
train_labels = train["label"]

# Load and preprocess the test data
test = pd.read_csv("mnist_test.csv")
test_images = test.iloc[:, 1:].values.reshape(-1, 28, 28, 1) / 255.0
test_labels = test["label"]

# Build the CNN model
model = Sequential()
model.add(Conv2D(64, (3, 3), activation='relu', input_shape=(28, 28, 1)))
model.add(MaxPooling2D((2, 2)))
model.add(Conv2D(128, (3, 3), activation='relu'))
model.add(MaxPooling2D((2, 2)))
model.add(Conv2D(128, (3, 3), activation='relu'))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(10, activation='softmax'))

# Compile the model
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

# Train the model
model.fit(train_images, train_labels, epochs=20, batch_size=128)

# Evaluate the model on the test data
test_loss, test_acc = model.evaluate(test_images, test_labels)
print('Accuracy of model is: {}%'.format(round(test_acc*100, 2)))

Epoch 1/20
469/469 [==============================] - 150s 318ms/step - loss: 0.2459 - accuracy: 0.9234
Epoch 2/20
469/469 [==============================] - 145s 309ms/step - loss: 0.0668 - accuracy: 0.9804
Epoch 3/20
469/469 [==============================] - 147s 314ms/step - loss: 0.0466 - accuracy: 0.9865
Epoch 4/20
469/469 [==============================] - 145s 309ms/step - loss: 0.0369 - accuracy: 0.9894
Epoch 5/20
469/469 [==============================] - 144s 308ms/step - loss: 0.0308 - accuracy: 0.9911
Epoch 6/20
469/469 [==============================] - 144s 308ms/step - loss: 0.0255 - accuracy: 0.9924
Epoch 7/20
469/469 [==============================] - 145s 309ms/step - loss: 0.0206 - accuracy: 0.9936
Epoch 8/20
469/469 [==============================] - 145s 309ms/step - loss: 0.0181 - accuracy: 0.9942
Epoch 9/20
469/469 [==============================] - 144s 307ms/step - loss: 0.0165 - accuracy: 0.9949
Epoch 10/20
469/469 [==============================] - 144s 307ms/step - loss: 0.0137 - accuracy: 0.9956
Epoch 11/20
469/469 [==============================] - 144s 307ms/step - loss: 0.0122 - accuracy: 0.9961
Epoch 12/20
469/469 [==============================] - 145s 310ms/step - loss: 0.0126 - accuracy: 0.9961
Epoch 13/20
469/469 [==============================] - 144s 307ms/step - loss: 0.0096 - accuracy: 0.9969
Epoch 14/20
469/469 [==============================] - 144s 307ms/step - loss: 0.0091 - accuracy: 0.9970
Epoch 15/20
469/469 [==============================] - 143s 305ms/step - loss: 0.0105 - accuracy: 0.9966
Epoch 16/20
469/469 [==============================] - 144s 307ms/step - loss: 0.0077 - accuracy: 0.9976
Epoch 17/20
469/469 [==============================] - 144s 308ms/step - loss: 0.0079 - accuracy: 0.9975
Epoch 18/20
469/469 [==============================] - 145s 308ms/step - loss: 0.0061 - accuracy: 0.9981
Epoch 19/20
469/469 [==============================] - 144s 306ms/step - loss: 0.0077 - accuracy: 0.9977
Epoch 20/20
469/469 [==============================] - 144s 307ms/step - loss: 0.0055 - accuracy: 0.9981
313/313 [==============================] - 6s 18ms/step - loss: 0.0338 - accuracy: 0.9934
Accuracy of model is: 99.34%

# Case-3

In [83]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Flatten, Dense, Dropout

# Load and preprocess the training data
train = pd.read_csv("mnist_train.csv")
train_images = train.iloc[:, 1:].values.reshape(-1, 28, 28, 1) / 255.0
train_labels = train["label"]

# Load and preprocess the test data
test = pd.read_csv("mnist_test.csv")
test_images = test.iloc[:, 1:].values.reshape(-1, 28, 28, 1) / 255.0
test_labels = test["label"]

# Build the CNN model
model = Sequential()
model.add(Conv2D(64, (3, 3), activation='relu', input_shape=(28, 28, 1)))
model.add(MaxPooling2D((2, 2)))
model.add(Conv2D(128, (3, 3), activation='sigmoid'))
model.add(MaxPooling2D((2, 2)))
model.add(Conv2D(256, (3, 3), activation='relu'))
model.add(MaxPooling2D((2, 2)))
model.add(Flatten())
model.add(Dense(256, activation='sigmoid'))
model.add(Dropout(0.5))
model.add(Dense(128, activation='tanh'))
model.add(Dropout(0.5))
model.add(Dense(10, activation='softmax'))

# Compile the model
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

# Train the model
model.fit(train_images, train_labels, epochs=10, batch_size=128)

# Evaluate the model on the test data
test_loss, test_acc = model.evaluate(test_images, test_labels)
print('Accuracy of model is: {}%'.format(round(test_acc*100, 2)))

Epoch 1/10
469/469 [==============================] - 171s 362ms/step - loss: 1.0296 - accuracy: 0.6457
Epoch 2/10
469/469 [==============================] - 169s 360ms/step - loss: 0.1889 - accuracy: 0.9435
Epoch 3/10
469/469 [==============================] - 169s 360ms/step - loss: 0.1341 - accuracy: 0.9610
Epoch 4/10
469/469 [==============================] - 170s 362ms/step - loss: 0.1084 - accuracy: 0.9689
Epoch 5/10
469/469 [==============================] - 170s 363ms/step - loss: 0.0942 - accuracy: 0.9723
Epoch 6/10
469/469 [==============================] - 170s 362ms/step - loss: 0.0793 - accuracy: 0.9769
Epoch 7/10
469/469 [==============================] - 170s 362ms/step - loss: 0.0727 - accuracy: 0.9788
Epoch 8/10
469/469 [==============================] - 170s 362ms/step - loss: 0.0630 - accuracy: 0.9807
Epoch 9/10
469/469 [==============================] - 171s 364ms/step - loss: 0.0595 - accuracy: 0.9824
Epoch 10/10
469/469 [==============================] - 170s 362ms/step - loss: 0.0562 - accuracy: 0.9837
313/313 [==============================] - 8s 24ms/step - loss: 0.0563 - accuracy: 0.9828
Accuracy of model is: 98.28%